@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-xxl {
  font-size: xx-large;
}

.text-160 {
  font-size: 160%;
}

/* Custom override of Tailwind's .py-20 class */
.py-20 {
  padding-top: 2.8rem !important;
  /* Optional: retain bottom padding or adjust as needed */
}